@import '~antd/dist/antd.css';

.App {
  text-align: center;
  overflow: auto;
}
.logo {
  font-size: 40px;
  color: white;
  text-align: center;
}
.left-sidebar {
  background-color: rgba(0,0,0,.9);
  text-align: center;
  margin: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
