img {
    width: 80%;
    /* height: 100%; */
}
.side-info-holder {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    overflow: auto;
}
.side-info-block {
    justify-content: center;
    overflow: auto;
}
.card-div {
    background-color: rgba(0, 0, 0 , .95);
    text-align: center;
    color: white;
    margin-top: 15px;
    border: thin solid white;
    border-radius: 25px;
    overflow: auto;
}
.card-btn {
    height: 50px;
    width: 50px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0 , 0);
}
img {
    border-radius: 15px;
}
.card-title {
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
}
.card-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15pt;
}
.fav {
    color: gold;
}
.news-btn {
    margin-top: 10px;
}